.advantages {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advantages__important-description {
  .title();
  margin-bottom: 35px;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    width: 520px;
  }
}

.advantages__description {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 32px;
  padding: 0 20px;
}
