.advantages-canyon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-canyon__title {
  .title();
  margin-bottom: 11px;
  margin-top: 0;
}

.advantages-canyon__number {
  display: block;
  margin-bottom: 17px;
  font-weight: 700;
}

.advantages-canyon__description {
  margin-top: 0;
  margin-bottom: 11px;
}

.advantages-canyon__image {
  display: block;
}

.advantages-canyon__item {
  .last-element-margin-bottom();

  &--background-color {
    background: #81b3d2;
  }

  &--background-color2 {
    background: #eeeeee;
  }

  &--text-color {
    color: #ffffff;
  }

  &--padding-1 {
    padding: 54px 22px 40px 16px;
  }

  &--padding-2 {
    padding: 39px 16px 35px 15px;
  }
}
