.card {
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    width: 324px;

    &--stretched {
      width: 648px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 400px;

    &--stretched {
      width: 1200px;
    }
  }
}

.card__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.card__description {
  text-transform: none;
  margin-top: 0;
  margin-bottom: 11px;
}

.card__image {
  display: block;
}

.card__wrapper-image {
  margin-bottom: 15px;
}
