.checkbox-label__description {
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.checkbox-label__input:checked + .checkbox-label__control::after {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-mark.svg");
  top: 15px;
  left: 12px;
  width: 22px;
  height: 16px;
}


.checkbox-label__control {
  position: relative;
  width: 46px;
  height: 46px;
  margin-right: 16px;
  background: #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
}
