.contacts {
  display: flex;
  flex-direction: column;
  padding: 24px 0 34px;
  margin: 0;
  .last-element-margin-bottom();

  @media (min-width: @tablet-width) {
    width: 324px;
    padding-left: 43px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: 480px;
  }
}

.contacts__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.contacts__title {
  .title();
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.contacts__text {
  padding-left: 16px;
}

.contacts__input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  width: 280px;
  padding: 16px 62px 16px 16px;
  box-sizing: border-box;
  border: none;
}

