.intro-short {
  background-image: url("../img/intro-background-short.jpg");
  background-repeat: no-repeat;
}

.intro-short__image {
  display: block;
  padding-top: 52px;
  padding-bottom: 67px;
  margin-left: auto;
  margin-right: auto;
}
