.review {
  display: flex;
  flex-direction: column;
  padding: 36px 20px 24px;
}

.review__title {
  .title();
  text-align: center;
  margin-top: 0;
  margin-bottom: 34px;
}

.review__description {
  text-align: center;
  margin-top: 0;
  margin-bottom: 28px;
}

.review__group {
  border: none;
}

.review__button {
  margin-bottom: 3px;
}

.review__legend {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 24px;
}
