.site-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 1.5px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.site-list__item {
  color: #000000;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    justify-self: center;
    padding: 18px 20px 17px;
    width: 153px;
    box-sizing: border-box;

    &:nth-child(4n+2) {
      margin-right: 153px;
    }
  }

  @media (min-width: @desktop-width) {
    justify-self: center;
    padding: 18px 20px 17px;
    width: 240px;
    box-sizing: border-box;

    &:nth-child(4n+2) {
      margin-right: 240px;
    }
  }
}

.site-list__link {
  text-decoration: none;
}
